* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 600px;
  background-color: blanchedalmond;
}

.header {
  height: 70px;
  text-align: center;
}

.add-todo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
}

h1 {
  font-family: "Gotu";
  font-size: 3rem;
  font-weight: 50;
  margin: 1rem 0 3rem;
  text-align: center;
}

#input {
  height: 40px;
  outline: none;
  width: 900px;
  font-size: 1.15rem;
  margin: 0.25rem;
  font-family: "Gotu";
  border: none;
}

.calendar {
  background-color: blanchedalmond;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  margin: 0.25rem;
  cursor: pointer;
  border-radius: 25px;
}
.add-button {
  background-color: blanchedalmond;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  margin: 0.25rem;
  cursor: pointer;
  border-radius: 25px;
}

button:hover {
  opacity: 0.7;
}

.container {
  display: flex;
  border: 1px solid black;
  box-sizing: border-box;
  width: 1350px;
  height: 600px;
  padding: 30px;
  margin: auto;
  justify-content: left;
}

.items {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
}
.each-itembox {
  border: none;
  background-color: blanchedalmond;
  font-family: "Gotu";
  font-size: 1rem;
  width: 1000px;
  outline: none;
  margin: 0.25rem;
  color: black;
}

.item-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 15px;
}
.edit-button {
  background-color: blanchedalmond;
  outline: none;
  border: none;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.delete-button {
  background-color: blanchedalmond;
  outline: none;
  border: none;
  cursor: pointer;
}

#letter-limit {
  display: flex;
  justify-content: center;
  border: none;
  background-color: blanchedalmond;
}

#character-check {
  display: flex;
  justify-content: center;
  font-family: "Gotu";
  font-size: 1rem;
  font-style: italic;
}

.todo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 600px;
}

.todo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 600px;
}
.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 900px;
}
.eachtext {
  font-size: 1rem;
  font-family: "Gotu";
}


